# ==========================================
# KageWire Environment Configuration (.env.example)
# ==========================================

# Set ke 'true' untuk menggunakan data mock lokal (bebas limit & tidak memanggil SankaApi)
# Set ke 'false' jika sudah siap menggunakan API live Sanka
NEXT_PUBLIC_USE_MOCK=true

# Endpoint Utama SankaApi REST Platform
NEXT_PUBLIC_SANKA_API_URL=your_api_key

# Konfigurasi Aplikasi
NEXT_PUBLIC_APP_NAME=KageWire
NEXT_PUBLIC_APP_URL=https://your-production-domain.com

# ==========================================
# Redis Cache Layer — Upstash REST (Optional L2 Cache)
# ==========================================
# UPSTASH_REDIS_REST_URL=https://your-database.upstash.io
# UPSTASH_REDIS_REST_TOKEN=your-token-here
