# ==========================================
# KageWire Environment Configuration (.env.example)
# ==========================================

# Set ke 'true' untuk menggunakan data mock lokal (bebas limit & tidak memanggil SankaApi)
# Set ke 'false' jika sudah siap menggunakan API live Sanka
NEXT_PUBLIC_USE_MOCK=true

# Endpoint Utama SankaApi REST Platform
NEXT_PUBLIC_SANKA_API_URL=https://www.sankavollerei.web.id

# Konfigurasi Aplikasi
NEXT_PUBLIC_APP_NAME=KageWire
NEXT_PUBLIC_APP_URL=http://localhost:3000
